.h1{
    font-size: large;
    color: aliceblue;
    text-align: center;
    text-shadow: 8px 8px 8px black;
}
.body{
    background: rgb(177, 177, 177,255);
}
p{
    font-size: 1rem;
    text-align: justify;
       
}
img.alineadoTextoImagenArriba{
    vertical-align: text-top;  
  }
.card {
    width: 300px;
    height: auto;
    padding: 2rem;
    border-radius: 1rem;
    margin-left: 20px;
    background: rgba(255, 255, 255, .7);
	-webkit-backdrop-filter: blur(10px);
	backdrop-filter: blur(10px);
    text-align: justify;
    float: left;
}
.card2 {
    width: 300px;
    height: auto;
    padding: 2rem;
    border-radius: 1rem;
    background: rgba(255, 255, 255, .7);
	-webkit-backdrop-filter: blur(10px);
	backdrop-filter: blur(10px);
    text-align: justify;
    float: right;
    
}
.card3 {
    width: 300px;
    height: auto;
    padding: 2rem;
    border-radius: 1rem;
    background: rgba(255, 255, 255, .7);
	-webkit-backdrop-filter: blur(10px);
	backdrop-filter: blur(10px);
    text-align: justify;
    float:left;
    margin-left: 55px;
    
}
/* Fondo modal: negro con opacidad al 50% */
.modal {
    
    display: none; /* Por defecto, estará oculto */
    position: absolute; /* Posición fija */
    z-index: 1; /* Se situará por encima de otros elementos de la página*/
    padding-top: 10px; /* El contenido estará situado a 200px de la parte superior */
    left: 0;
    top: 0;
    width: 100%; /* Ancho completo */
    height: 100%; /* Algura completa */
    overflow: auto; /* Se activará el scroll si es necesario */
    background-color: rgba(0,0,0,0.5); /* Color negro con opacidad del 50% */
    vertical-align: top;
}
  
  /* Ventana o caja modal */
.contenido-modal {
    position: relative; /* Relativo con respecto al contenedor -modal- */
    background-color: white;
    margin: auto; /* Centrada */
    padding: 20px;
    width: 60%;
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;  
    
}
  
  /* Animación */
  
 
  /* Botón cerrar */
.close {
    color: black;
    float: right;
    font-size: 30px;
    font-weight: bold;
}
  
.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
.modal1 {
    display: none; /* Por defecto, estará oculto */
    position: absolute; /* Posición fija */
    z-index: 1; /* Se situará por encima de otros elementos de la página*/
    padding-top: 10px; /* El contenido estará situado a 200px de la parte superior */
    left: 0;
    top: 0;
    width: 100%; /* Ancho completo */
    height: 100%; /* Algura completa */
    overflow: auto; /* Se activará el scroll si es necesario */
    background-color: rgba(0,0,0,0.5); /* Color negro con opacidad del 50% */
    vertical-align: top;
}
  
  /* Ventana o caja modal */
.contenido-modal1 {
    position: relative; /* Relativo con respecto al contenedor -modal- */
    background-color: white;
    margin: auto; /* Centrada */
    padding: 20px;
    width: 60%;
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;  
}
/* Botón cerrar */
.close1 {
    color: black;
    float: right;
    font-size: 30px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
  